* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 2vmin 0;
    font-family: 'Fuggles', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/79/c3/9d/79c39d7353d85e578e7631a7b4e1fbd3.gif');
    background-color: rgb(42, 42, 42);
    background-size: cover;
}

header {
    font-size: 7vmin;
    font-weight: bolder;
    text-align: center;
    color: rebeccapurple;
    text-shadow: lavenderblush -.25px .25px, whitesmoke -.5px .5px;
}

h1 {
    color: lavenderblush;
    text-shadow: rebeccapurple -.25px .25px, whitesmoke -.5px .5px, black .75px .75px;
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    margin-top: -.5vmin;
}

#markers {
    display: grid;
    grid-template-columns: repeat(7, 8vmin);
    align-items: center;
    justify-content: center;
    gap: 1vmin;
}

#markers>div {
    height: 6vmin;
    border-width: 4vmin;
    border-style: dotted;
    border-color: rgba(230, 230, 250, 0.73) transparent transparent;
    transform: scale(0.7);
    filter: will-change;
}

#markers>div:hover {
    transform: scale(0.8);
    transition: transform 142ms ease-in;
    border-top-color: lavenderblush;
    filter: drop-shadow(0 0 2vmin lavenderblush);
    cursor: pointer;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 8vmin);
    grid-template-rows: repeat(6, 8vmin);
    gap: 1vmin;
    margin-top: -2vmin;
}

#board>div {
    border-radius: 50%;
    border: 6px double rgba(245, 245, 245, 0.73);
}

button {
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    padding: 1vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    text-shadow: -.35px .25px black;
    border: .25vmin solid lavenderblush;
    background-color: rebeccapurple;
    color: lavenderblush;
    cursor: pointer;
    will-change: filter;
}

button:hover {
    transform: scale(105%);
    transition: ease-in 142ms;
    background-color: lavenderblush;
    color: rebeccapurple;
    border: .25vmin solid rebeccapurple;
    filter: drop-shadow(0 0 2vmin lavenderblush);
}