* {
    box-sizing:border-box;
}

body {
    height: 100vh;
    margin: 2vmin;
    font-family: 'Splash', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/79/c3/9d/79c39d7353d85e578e7631a7b4e1fbd3.gif');
    background-color: rgb(42, 42, 42);
    background-size: cover;
}

header {
    font-size: 5vmin;
    text-align: center;
    color: cadetblue;
    text-shadow:darksalmon -.5px .5px, whitesmoke -1px 1px;
    margin-top: 4vmin;
}

h1 {
    color:rgb(160, 133, 214, 0.86);
    text-shadow:whitesmoke -.5px .5px, rebeccapurple -.75px .75px, black -1px 1px;
    font-size: 3vmin;
    text-align: center;
}

#markers {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    gap: 1vmin;
}

#markers > div {
    height: 10vmin;
    border-width: 5vmin;
    border-style: dotted;
    border-color: rgba(230, 230, 250, 0.73) transparent transparent;
    transform: scale(0.7);
}

#markers > div:hover {
    transform: scale(0.8);
    transition: transform 173ms ease-in;
    border-top-color: lightsalmon;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: 1vmin;
    margin-top: -3vmin;
}

#board > div {
    border-radius: 50%;
    border: 6px double rgba(245, 245, 245, 0.73);
    
}

button {
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 3px lightsalmon double;
    background-color: cadetblue;
    color: whitesmoke;
}