* {
    box-sizing:border-box;
}

body {
    /*   viewport units: vh (viewport height)  vw (viewport width)  vmin (smallest between a vh and a vw whatever those values are)  */
    height: 100vh;
    margin: 0;
    font-family: 'Splash', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://thumbs.gfycat.com/PowerlessUncomfortableComet.webp');
    background-color: bisque;
    background-size: cover;
}

header {
    font-size: 9vmin;
    letter-spacing: .42vmin;
    text-align: center;
    color: cadetblue;
    text-shadow:darksalmon -2px 2px, whitesmoke -3px 3px;
    margin: 173px 0 auto;
}

h1 {
    color:rgb(160, 133, 214, 0.86);
    text-shadow:whitesmoke -1px 1px, rebeccapurple -2px 2px, black -3px 3px;
    font-size: 6vmin;
    letter-spacing: .42vmin;
    margin: 0 5 auto;
    text-align: center;
}

#markers {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    gap: 1vmin;
    margin-top: 1.5vmin;
}

#markers > div {
    height: 10vmin;
    border-width: 5vmin;
    border-style: dotted;
    border-color:darksalmon transparent transparent;
    transform: scale(0.7);
}

#markers > div:hover {
    transform: scale(0.96);
    transition: transform 173ms ease-in;
    border-top-color: lightsalmon;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: 1vmin;
    margin-top: -3vmin;
}

#board > div {
    border-radius: 50%;
    border: 0.7vmin double cadetblue;
    
}

button {
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 3px lightsalmon double;
    background-color: cadetblue;
    color: whitesmoke;
}